.menu
{
    display: flex;
}
.content
{
    flex: 7;
}
.shopcart
{
    flex: 3;
}
.happySummer_items
{
    height: 323px;
    width: 450px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 1px 3px 13px 0px rgba(0,0,0,0.75);
    
}
.image 
{ 
    border-radius: 5px 5px 0 0;
    width: 450px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
}
.happySummer
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}