.container
{   
    width: 70%;
    height: 80vh;
    background-image: url('https://pizzahut.vn/9637f025c0a8602011051ed056e61616.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.container>div>img 
{
    width: 100%;
    height: 1%
    
}
.form
{
    display: flex;
    justify-content: space-evenly;
}
.form input 
{
    height: 40px;
}
.form_right
{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.form_left
{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.confirm_one
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.confirm_one>div 
{
    margin-top: 17px;
    margin-left: 10px;
}