.container 
{
    height: 50px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    line-height: 50px;
}
.content 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.link
{
    text-decoration: none;
}